html{
    background-color: aquamarine;
}

header{
    background-color: rgb(210, 30, 120);
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    display: inline-block;
}


header a{
    padding: 50px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

header a:hover{
    background-color: rgb(255, 255, 255);
    font-size: large;
}

.arriba{
    display: flex;
    align-items: center;
    padding: 10px;
}

.arriba img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 3cm;
}

.mapa{
    text-align : center;
}

.mapa img{
    border: 0.5px solid rgb(0, 0, 0);
    border-collapse: collapse;
    width: 50%;
    height: 50%;
}

.africa{
    text-align : center;
}

.africa img{
    border: 0.5px solid rgb(0, 0, 0);
    border-collapse: collapse;
    width: 40%;
    height: 80%;
}

.america{
    text-align : center;
}

.america img{
    border: 0.5px solid rgb(0, 0, 0);
    border-collapse: collapse;
    width: 40%;
    height: 80%;
}

.europa{
    text-align : center;
}

.europa img{
    border: 0.5px solid rgb(0, 0, 0);
    border-collapse: collapse;
    width: 70%;
    height: 70%;
}

.asia{
    text-align : center;
}

.asia img{
    border: 0.5px solid rgb(0, 0, 0);
    border-collapse: collapse;
    width: 70%;
    height: 70%;
}

table{
    background-color: white;
    /* cambiar el tamaÃ±o de las columnas */
    /* table-layout: auto; width:50%; */
    /* Ajustar el texto a la celda */
    /* table-layout:fixed; width: 30%; */
    width: 70%;margin: 0 auto;
    /* border-spacing: 0; */
    border-collapse: collapse;
}

table .cabeza{
    font-weight: 600;
}

td, tr{
        width: 25%;
        text-align: center;
        /* solid, dashed, dotted */
        border: 0.5px solid rgb(0, 0, 0);
        padding: 4px;
}

.as img{
    width: 30px;
    height: 30PX;
}

.pie img{
    width: 30px;
    height: 30px;
}

.pie{
text-align: left;
color: rgb(16, 5, 1);
}

.pie a:hover{
    font-size: large;
    color: white;
}

.pie a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

section h2{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: rgb(0, 0, 0);
        text-shadow: 0px 0px 9px rgb(4, 217, 0);
    }

.pie h2{

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 9px rgb(4, 0, 229);
}